/* App.css */
.firma-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  width: fit-content;
}

.firma {
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans';
  color: #000;
  padding: 10px;
  margin: 20px auto;
  text-align: left;
  width: fit-content;
}

.App {
  text-align: center;
}

form {
  margin: 20px;
  max-width: 600px; /* Limita el ancho del formulario */
  margin: 0 auto; /* Centra el formulario */
}

input, select {
  width: 100%; /* Asegura que todos los inputs y selects ocupen el mismo ancho */
  padding: 10px; /* Ajusta el padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 10px; /* Tamaño de fuente consistente */
  box-sizing: border-box; /* Asegura que el padding no altere el ancho */
  margin-bottom: 20px; /* Aumentar el espacio inferior entre los campos */
}

select {
  -webkit-appearance: none; /* Remueve el estilo por defecto en navegadores WebKit */
  -moz-appearance: none; /* Remueve el estilo por defecto en Firefox */
  appearance: none; /* Remueve el estilo por defecto general */
  background-color: white; /* Fondo blanco */
}

/* Firma.css */
.form-group {
  margin-bottom: 20px; /* Aumentar el espacio entre grupos de formulario */
  width: 100%;
}

.firma p {
  margin: 5px 0;
}

.nombre {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.detalle {
  margin-bottom: 3px;
}

.clasificacion-info {
  font-size: 11px;
}

.btn {
  padding: 8px 15px; /* Ajusta el padding para que el botón sea más pequeño */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%; /* Asegura que el botón ocupe el 50% del ancho del contenedor */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
}

.firma-logo {
  width: 150px;
  margin-right: 15px;
}

.firma-info {
  line-height: 1;
  font-size: 16px;
}

.PiePag {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

.PiePag p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

.copy-confirmation {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin-bottom: 10px;
  width: 50%; /* Asegura que los botones también ocupen el 50% del ancho disponible */
}

.container-copy {
  color: green;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .btn {
    width: 100%; /* Botones ocuparán todo el ancho en pantallas pequeñas */
  }

  .firma-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }

  .App {
    padding: 5%; /* Reduce el padding en pantallas más pequeñas */
  }
}
